# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.so

# Django
*.log
*.pot
*.pyc
*.mo
*.pyo
*.pyd
__pycache__/
local_settings.py

# Environments
.env
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Database
db.sqlite3
db.sqlite3-journal

# Static and media files
/staticfiles/
/media/

# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db